<div class="col-lg-4 d-flex justify-content-center">
    <div class="card align-items-center p-2" style="width: 18rem;">
        <img width="100px" height="100px" [src]="contact.photo">
        <div class="card-body">
            <h5 class="card-title">{{contact.name}}</h5>
            <p>ID:{{contact.id}}</p>
            <P>Mobile:{{contact.mobile}}</P>
            <p>E-mail:{{contact.email}}</p>
            <p>Company:{{contact.company}}</p>
            <p>Group:{{group}}</p>
            <p>Title:{{contact.title}}</p>
        </div>

    </div>
</div>
