<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-primary me-2"><i class="fa-solid fa-user-pen fa-shake"></i>Edit contact</h1>
            <p style="text-align: justify;"
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat aspernatur cumque quisquam voluptas optio. Quaerat cumque corrupti sit amet blanditiis nemo quam nostrum, quas maxime tenetur magni! Aut, consequuntur quos.loer Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis, voluptatem suscipit qui atque voluptates ratione asperiores repudiandae delectus rem! Labore reprehenderit numquam sequi qui ipsum nisi, quisquam id quasi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea est esse aspernatur voluptate magni. Odit sequi nostrum ad similique, delectus quaerat ab amet aliquid quos esse aspernatur quas, voluptatem voluptates?</p>
        </div>

   

    </div>

    <!-- form -->

    <div class="row">
        <div class="col-md-8">
            <form class="border p-3 rounded">
                <div class="form-floating mb-3">
                    <input type="text" placeholder="contact id" id="floatingInputid" class="form-control ">
                    <label for="floatingInputid">Contact Id</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" placeholder="Contact name" class="form-control" id="floatingInputname">
                    <label for="floatingInputname">Contact Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" placeholder="Contact Image URL" class="form-control" id="floatingInputimg">
                    <label for="floatingInputimg">Contact Image URL</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" placeholder="Contact company name" class="form-control"
                        id="floatingInputcompany">
                    <label for="floatingInputcompany">Contact Company Name</label>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success ">submit</button>
                    <a routerLink="" class="btn btn-warning ms-3">close</a>
                </div>

            </form>
        </div>

        <div class="col-md-4 mt-5 me-auto p-2">
            
            <img width="170px" height="200px"  src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="">
        </div>
    </div>
</div>

